<div id="featureWrap" class="altWrap" style="margin-top:10px;">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 text-center feature">
          <i class="fa fa-tablet icon"></i>
          <h3>Cloud-Based Application</h3>
          <p>
          RiverCloud's application makes it simple to collectively load and organize photos by event. <!--You can invite friends and share in the access of a specifc event; allowing collabratively capturing the experience.  -->
        </div>
        <div class="col-sm-4 text-center feature">
          <i class="fa fa-refresh fa-spin icon"></i>
          <h3>Photo-Streaming Mode</h3>
          <p>
          RiverCloud's dynamic and schedule modes provide real-time streaming to RiverCloud's Airframe home devices. <!--Your family or friends thousands of miles away enjoy your own adventure channel. -->
          </p>
        </div>
        <div class="col-sm-4 text-center feature">
          <i class="fa fa-star icon"></i>
          <h3>AirFrame-Home Experience</h3>
          <p>
          RiverCloud's sleek high definition Airframes bring adventures to life in the living room. 
          </p>
        </div>
      </div>
    </div>
  </div> <!-- /featureWrap -->


 <div id="applicationWrap" class="panel" style="margin-top:20px;">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h2 class="sectionTitle">Application</h2></br></br>
          <h3 class="sectionTitle">~Reflections of your life, real time~</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 col-md-offset-1">
      <div class="imgWrap">
          <!--  <h3 style="text-align: center">AirFrame Modern</h3>  -->
         <!--  <img class="img-responsive" src=<%# asset_path "web-frame.png" %>/></br></br></br> -->
       </br>
         <div class="mobile_app">
            <div class="mobileSlider">
           <!--   <ul class="slides apps">
                <li>
                 <img class="img-responsive" src=<%# asset_path "rc_frontpage.jpg" %>/>
                </li>
                <li>
                  <img class="img-responsive" src=<%# asset_path "rc_eventpage.jpg" %>/> 
                </li>
                <li>
                  <img class="img-responsive" src=<%# asset_path "rc_photopage.jpg" %>/> 
                </li>
                 <li>
                  <img class="img-responsive" src=<%# asset_path "rc_selectimages.jpg" %>/> 
                </li>
              </ul>
            </div> -->
         </div> 
           <!-- <img class="img-responsive hidden-xs" src=<%# asset_path "blackframe.png" %>/></center> -->
       </div> 
        </div>
        <div class="col-md-5">
          <div class="productFeatures clearfix">
            <div class="col-xs-2 icon">
              <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-cloud fa-stack-1x fa-inverse"></i>
              </span>
            </div>
            <div class="col-xs-10">
              <h3>Collaborative</h3>
              <p>RiverCloud's event-driven model provides an easy to use platform to organize and manage your family and friends photos during an event. 
            </div>
            <div class="col-xs-2 icon">
              <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-cog fa-spin fa-stack-1x fa-inverse"></i>
              </span>
            </div>
            <div class="col-xs-10">
              <h3>Image Streaming</h3>
              <p>RiverCloud's stream-mode automates image-flows to your frame. The event-driven structure and streaming provide themed based channels for the AirFrame show.  </p>
            </div>
            <div class="col-xs-2 icon">
              <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa fa-lock fa-stack-1x fa-inverse"></i>
              </span>
            </div>
            <div class="col-xs-10">
              <h3>Secure Experiene</h3>
              <p>RiverCloud's encyrpted technology keeps your photos safe and secure. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 


 <div id="productWrap" class="altWrap">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h2 class="sectionTitle">AirFrame</h2>
          <h3 class="sectionTitle">~Reflections of your life, real time~</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 col-md-offset-1">
      <div class="imgWrap"><center> 
            <h3 style="text-align: center">AirFrame Modern</h3> 
         <!--  <img class="img-responsive" src=<%# asset_path "web-frame.png" %>/></br></br></br> -->
         <div class="mobile">
            <div class="mobileSlider">
              <ul class="slides modern">
                <li>
                  <img src=<%= asset_path "summer.jpg" %>/>
                </li>
                <li>
                  <img src=<%= asset_path "fall.jpg" %>/>
                </li>
              </ul>
            </div>
         </div> 
          <h3 class="hidden-xs" style="text-align: center">AirFrame Classic</h3>
          <div class="mobile_classic hidden-xs">
            <div class="mobileSlider">
              <ul class="slides classic">
                <li>
                  <img src=<%= asset_path "ocean-clip.jpg" %>/>
                </li>
                <li>
                  <img src=<%= asset_path "winter.jpg" %>/>
                </li>
              </ul>
            </div>
         </div> 
           <!-- <img class="img-responsive hidden-xs" src=<%# asset_path "blackframe.png" %>/></center> -->
        </div> 
        </div>
        <div class="col-md-5">
          <div class="productFeatures clearfix">
            <div class="col-xs-2 icon">
              <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-film fa-stack-1x fa-inverse"></i>
              </span>
            </div>
            <div class="col-xs-10">
              <h3>Amazing Features</h3>
              <p>RiverCloud AirFrames send notification that keep you informed on new content. The Airframes keep the content organized and easily accessible.<p>
            </div>
            <div class="col-xs-2 icon">
              <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-tasks fa-stack-1x fa-inverse"></i>
              </span>
            </div>
            <div class="col-xs-10">
              <h3>Easily Configured</h3>
              <p>AirFrames have mulitple modes to easily configure and adjust. Auto-mode will automatically show the most recent pushed content.</p>
            </div>
            <div class="col-xs-2 icon">
              <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-picture-o fa-stack-1x fa-inverse"></i>
              </span>
            </div>
            <div class="col-xs-10">
              <h3>Clean &amp; Stylish Models</h3>
              <p>The AriFrames sharp clean artistic elements incoporate digital zen. Find a spot, turn it one and let the magic happen. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
  
  <div id="pricingWrap" class="panel" style="margin-top:20px;">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h2 class="sectionTitle">Packages</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <ul class="priceTable">
            <li class="title">Free Plan</li>
            <li class="description">For Followers</li>
            <li class="price">No Charge</li> 
            <ul class="features">
              <li>Access to application</li>
              <li>Access to sponsored events</li>
              <li>Join super friends events</li>
              <li>Load photos to friends events</li>
          
            </ul>
          <!--  <li class="call">
              <a class="btn btn-success btn-lg" href="#">Buy Now</a>
            </li> -->
          </ul>
        </div>
        <div class="col-sm-4">
          <ul class="priceTable alt">
            <li class="title">Super Plan</li>
            <li class="description">For super people</li> 
            <li class="price">$35.99/yr</li> 
            <ul class="features">
              <li>Access sponsored events</li>
              <li>Create private events</li>
              <li>Invite five friends per event</li>
              <li>Register five Airframes</li>
            </ul>
          <!--  <li class="call">
              <a class="btn btn-success btn-lg" href="#">Buy Now</a>
            </li> -->
          </ul>
        </div>
        <div class="col-sm-4">
          <ul class="priceTable">
            <li class="title">Fam Plan</li>
            <li class="description">For awesome families</li>
           <li class="price">$129.99/yr</li> 
            <ul class="features">
              <li>Register 4 family members</li>
              <li>All members create events</li>
              <li>Register five Airframes</li>
              <li>Includes one Airframe</li>
            </ul>
           <!-- <li class="call">
              <a class="btn btn-success btn-lg" href="#">Buy Now</a>
            </li> -->
          </ul>
        </div>
      </div>
    </div>
  </div> <!-- /pricingWrap -->
  
  <div id="testimonialsWrap" class="altWrap">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h2 class="sectionTitle">What people say</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="flexslider">
            <ul class="slides">
              <li>
                <div class="quote">"For the first time we are seeing photos of our family in a timely manner in our living room! And they live hundreds of miles away!!"</div>
                <div class="author">Gene Wacker</div>
              </li>
              <li>
                <div class="quote">"Our son plays soccer, and now we can all load photos of the soccer match into an event. Even better we can select the best and easily push them to our living room wall! "</div>
                <div class="author">Jennifer Leese</div>
              </li>
              <li>
                <div class="quote">"We captured our amazing ski day on the application and dynamically streamed it to our friends sitting at home. They hated us ;-) We loved it! "</div>
                <div class="author">Josh Binger</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- /testimonialsWrap -->
  
  <!--<div id="contactWrap" class="panel" style="margin-top:20px;">
    <div class="overlay">
      <div class="container">
        <div class="row">
            <div class="col-xs-12">
            <h2 class="sectionTitle">Contact us</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 text-center">
            <div class="blurb">
            Want to chat? Send us a message. We'd love to hear from you!
            </div>
          </div>
        </div>
          <div class="row">
            <div class="col-sm-4 col-sm-offset-2">
              <div class="inputContainer">
              <label>Name</label>
                <input type="text" name="contactName" id="contactName" value="" class="form-control" autocomplete="off" />
              </div>
            </div>
            <div class="col-sm-4">
              <div class="inputContainer">
              <label class="screen-reader-text">Email</label>
                <input type="text" name="email" id="email" value="" class="form-control" autocomplete="off"  />
              </div>
            </div>
            <div class="col-sm-8 col-sm-offset-2">
              <div class="inputContainer">
              <label class="screen-reader-text">Message</label>
                <textarea name="comments" id="commentsText" class="form-control" autocomplete="off"></textarea>
              </div>
            </div>
            <div class="col-sm-8 col-sm-offset-2">
              <button name="submit" type="button" class="btn btn-primary btn-lg">Send</button>
            </div>
          </div>
      </div>
    </div>
  </div> /contactWrap -->



