

<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <title>RiverCloud Products and Services</title>
  <meta name="author" content="" />
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>



  <header class="container">

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1>What happened to all the pictures we took?</h1>
       <!-- <p class="lead">You should always open a sales page with a catchy question.</p> -->
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">

    <div class="col-xs-12 col-md-4 col-md-offset-1">
    <!--  <p>
        Proceed then with the classic triplet: the pain, the dream, the solution.
      </p> -->
      <p>
        <strong>The pain</strong> Smart phones let us capture photos at any moment; piling up millions of memories “on our phones"<br /><strong>The dream</strong> Wouldn't it be great to have a way to stream these pictures to your personal digital picture frames (Airframe). Leting family and friends enjoy your experiences real time. 
      </p>
      <p>
        <strong>The solution</strong> RiverCloud provides a mobile friendly application to easy organize and stream your photos to their specialized digital frames or Airframes.   
      </p>
      <p>
        <em><strong>Interested?<br />
        <a href="#packages">Go straight to the packages.</a></strong></em>
      </p>
    </div>

      <div class="col-xs-12 col-md-6">
        <figure class="text-center">
          <img src="http://placehold.it/400x300" alt="The Amazing Product" class="img-thumbnail" />
        </figure>
      </div>

  </div>

  <hr />

  <div class="row">
  <figure class="col-md-2 col-md-offset-1">
      <img src="http://placehold.it/100x100" alt="Jonathan F. Doe" class="img-responsive img-circle pull-right" />
  </figure>
  <blockquote class="col-md-7">
     
      <p>
          Our Digital picture frame had not been used in years. With RiverCloud application and Airframes,<strong>photos stream in real time. Photos stay relevant and fresh! </strong>. Plus it is so easy to use!.
      </p>
      <small>John Doe, </small>
  </blockquote>
  </div>

</div>

<div class="bg-white-dark" id="free-sample">
  <div class="container">
<div class="row">

<div class="col-md-10 col-md-offset-1">
  <h2>Get a free sample</h2>
  <p class="lead">A taste of what is included with the product.</p>
</div>

</div>
<div class="row">

  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <img alt="sample" src="http://placehold.it/500x250" class="img-rounded" />
        <p>Describe the sample dolor sit amet and why should I want to get it adipiscint elit.</p>
        <p>
        <a href="#" class="btn btn-lg btn-default text-uppercase">
        <span class="icon icon-download-alt"></span>&#32;
        Download the sample
        </a>
        </p>
      </div>
    </div>
  </div>

  </div>
  </div>
</div>

<div class="container" id="packages">

  <div class="row">
<div class="col-md-12">
  <h2>
    The Complete Package
    <span class="pull-right">
        <a class="btn btn-success btn-lg" href="#">
            <span class="text-uppercase"><span class="text-white-dark">Buy now for</span> $249</span>
        </a>
    </span>
  </h2>
  <p class="lead">
    Cosby sweater cray skateboard.
  </p>
</div>
  </div>

  <div class="row">
<div class="media">
  <figure class="pull-left col-xs-12 col-md-4">
      <img src="http://placehold.it/300x250" alt="The Amazing Product" class="media-object img-thumbnail" />
  </figure>
  <div class="media-body col-xs-12 col-md-7">
    <h3 class="media-heading">The best package for lorem ipsumer</h3>
    <p>
        Mustache farm-to-table deep v cardigan, Banksy Godard roof party PBR&amp;B.
    </p>
    <ul>
        <li>Details</li>
        <li>Lorem ipsum</li>
        <li>Nostrud exercitation</li>
        <li>Resources ipsum</li>
        <li>Adipiscit resource</li>
        <li>Resource numquam</li>
        <li>Resources ipsum</li>
        <li>Adipiscit resource</li>
        <li>Resource numquam</li>
    </ul>
  </div>
</div>
  </div>

</div>

<div class="bg-white-dark">
  <div class="container">

  <div class="row">
<div class="col-md-12">
  <h2>
    The Amazing Product + Resources
    <span class="pull-right">
        <a class="btn btn-success btn-lg" href="#">
            <span class="text-uppercase"><span class="text-white-dark">Buy now for</span> $99</span>
        </a>
    </span>
  </h2>
    <p class="lead">
        Cosby sweater cray skateboard.
    </p>
</div>
  </div>

  <div class="row">
    <div class="media">
      <figure class="pull-left col-xs-12 col-md-4">
          <img src="http://placehold.it/300x250" alt="The Amazing Product" class="media-object img-thumbnail" />
      </figure>
      <div class="media-body col-xs-12 col-md-7">
          <h3 class="media-heading">Perfect for nostrud lorem</h3>
          <p>
              Mustache farm-to-table deep v cardigan, Banksy Godard roof party PBR&amp;B.
          </p>
          <ul>
              <li>Details</li>
              <li>Lorem ipsum</li>
              <li>Nostrud exercitation</li>
              <li>Resources ipsum</li>
          </ul>
        </div>
    </div>
  </div>

  </div>
</div>

<div class="container">

  <div class="row">
  <div class="col-md-12">
    <h2>
        The Amazing Product
        <span class="pull-right">
            <a class="btn btn-success btn-lg" href="#">
                <span class="text-uppercase"><span class="text-white-dark">Buy now for</span> $39</span>
            </a>
        </span>
    </h2>
    <p class="lead">
        Cosby sweater cray skateboard.
    </p>
  </div>
  </div>

  <div class="row">
<div class="media">
  <figure class="pull-left col-xs-12 col-md-4">
      <img src="http://placehold.it/300x250" alt="The Amazing Product" class="media-object img-thumbnail" />
  </figure>
  <div class="media-body col-xs-12 col-md-7">
    <h3 class="media-heading">The budget option</h3>
    <p>
        Mustache farm-to-table deep v cardigan, Banksy Godard roof party PBR&amp;B.
    </p>
    <p>
        Cliche sartorial roof party, shabby chic sustainable VHS food truck 90's four loko. Etsy hoodie     distillery, organic beard DIY cliche.
    </p>
  </div>
</div>
</div>

</div>

</body>
</html>